<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Logs</h1>

                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP</th>
                        <th>Date</th>
                        <th>Response</th>
                        <th>Bytes Nr</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="log : ${logs}">
                        <td th:text="${log.id}"></td>
                        <td th:text="${log.ip}"></td>
                        <td th:text="${log.date}"></td>
                        <td th:text="${log.response}"></td>
                        <td th:text="${log.bytes}"></td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>